.input {
    --text-input-bg: light-dark(var(--neutral-100), var(--neutral-900));

    appearance: none;
    width: 100%;
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
    background-color: var(--text-input-bg);
    border: 1px solid var(--default-border);

    &:focus {
        outline: none;
        border-color: var(--default-focus);
    }
}