.button {
    --button-bg-hover: light-dark(var(--neutral-200), var(--neutral-700));
    --button-fg-disabled: light-dark(var(--neutral-400), var(--neutral-600));

    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875em;

    &:hover:not(:disabled) {
        background-color: var(--button-bg-hover);
    }

    &:disabled {
        color: var(--button-fg-disabled);
    }

    &[data-icon-only=true] {
        padding: 0.25rem;
    }

    & svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.group {
    display: flex;
    align-items: center;

    &>.button {
        border-width: 1px 0px 1px 1px;
        border-style: solid;
        border-color: var(--default-border);
        border-radius: 0;

        &:first-child {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        &:last-child {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
            border-right-width: 1px;
        }
    }
}