.root {
    --number-input-bg: light-dark(var(--neutral-100), var(--neutral-900));

    position: relative;
    border-radius: 0.25rem;
    border: 1px solid var(--default-border);
    overflow: hidden;
    background-color: var(--number-input-bg);

    &:not(:hover) .button, &:has(input:focus) .button {
        display: none;
    }

    &:focus-within {
        border-color: var(--default-focus);
    }
}

.input {
    appearance: none;
    width: 100%;
    padding-inline: 0.25rem;
    text-align: center;
    background: none;

    &:focus {
        outline: none;
    }
}

.button {
    --number-input-button-bg-hover: light-dark(var(--neutral-200), var(--neutral-800));

    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    & svg {
        width: 1rem;
        height: 1rem;
    }

    &:hover {
        background-color: var(--number-input-button-bg-hover);
    }
}

.left {
    left: 0;
}

.right {
    right: 0;
}