.viewport {
    --graph-bg: light-dark(var(--neutral-200), var(--neutral-950));
    --graph-dot: light-dark(var(--neutral-400), var(--neutral-700));

    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: calc(var(--grid-size) * var(--grid-scale)) calc(var(--grid-size) * var(--grid-scale));
    background-color: var(--graph-bg);
    background-image: radial-gradient(var(--graph-dot) 1px, transparent 0);
}

.area {
    position: absolute;
}