.viewport {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: calc(var(--grid-size) * var(--grid-scale)) calc(var(--grid-size) * var(--grid-scale));

    background-color: var(--gray-200);
    background-image: radial-gradient(var(--gray-300) 1px, transparent 0);

    --type-exec-color: #525252;
    --type-boolean-color: #e02d2d;
    --type-number-color: #09b903;
    --type-string-color: #ffc400;

    --category-control-flow-color: var(--gray-400);
    --category-arithmetic-color: #09b903;
    --category-relational-color: #e02d2d;
    --category-logic-color: #e02d2d;
    --category-bitwise-color: #09b903;
    
    [data-theme=dark] & {
        background-color: var(--gray-950);
        background-image: radial-gradient(var(--gray-800) 1px, transparent 0);
        
        --type-exec-color: #ffffff;
        --type-boolean-color: #c53838;
        --type-number-color: #228a33;
        --type-string-color: #f7d61a;
        
        --category-control-flow-color: var(--gray-500);
        --category-arithmetic-color: #228a33;
        --category-relational-color: #c53838;
        --category-logic-color: #c53838;
        --category-bitwise-color: #228a33;
    }
}

.area {
    position: absolute;
}